@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --purple-dark: #5F546E;
    --purple-light: #827593;
    --gray-light: #E5E3E8;
    --gray-dark: #A5A2A9;
    --light: #f8fcfc;
    --transition: all 150ms cubic-bezier(.46, 1.13, .67, .87);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    
    color: var(--purple-light);
    background-color: var(--purple-light);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15;
    
    position: relative;
    overflow: hidden;
}




.container {
    width: 560px;
    height: 320px;
    display: block;
    
    background-color: var(--gray-light);
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.215), -5px -5px 25px rgba(0, 0, 0, 0.125);
    
    position: relative;
}


.clock-container {
    border: 1px solid #000;
    width: 405px;
    height: 150px;
    padding: 35px 50px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    
    background-color: var(--purple-dark);
    box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.825);
}

.clock-container span {
    text-transform: uppercase;
    font-size: 16px;
    text-align: right;
    display: block;
}


.clock-container p {
    font-size: 50px;
    color: var(--light);
    font-weight: 100;
}


.clock-container p:first-letter {
    letter-spacing: 5px;
}



.container .bottom {
    height: 15px;
    width: 100%;
    background-color: #aaa4b2;
    
    position: absolute;
    bottom: 0;
    left: 0;
}

.container .bottom .progress-bar {
    width: 0%;
    height: 100%;
    
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;

    background-color: #615770;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}


.colon {
    --size: 5px;
    height: 15px;
    width: var(--size);

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
    position: relative;
}


.colon::before {
    content: '';
    width: 100%;
    height: var(--size);
    background-color: #9892a3;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
}


.colon::after {
    content: '';
    width: 100%;
    height: var(--size);
    background-color: #9892a3;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
    position: absolute;
    bottom: 0;
    left: 0;
}


/*
.container .top {
    width: 215px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.container .top p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: var(--purple-dark);
    letter-spacing: .5px;
    cursor: pointer;
}
*/

/*
.toast {
    width: 405px;
    color: var(--light);
    padding: 15px 24px;
    background-color: var(--purple-dark);
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    transition: var(--transition);
    z-index: 99;
}

.toast p {
    font-weight: 400;
    font-size: 18px;
}

.toast p:first-letter {
    text-transform: uppercase;
}

.toast.show {
    bottom: 50px;
}

.toast span {
    align-self: center;
    font-weight: 500;
    cursor: pointer;
}
*/


