$width: 21px;


body {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    display: grid;
    place-items: center;
}



.banner {
    display: flex;
}


.panel {
    position: relative;
    // border: 1px solid #fff;
    overflow: hidden;
    width: $width;
    height: 130px;

    animation: rotate 6s var(--delay) infinite ease-in-out alternate;
}

@keyframes rotate {
    0%, 10% {
        transform: rotateX(0deg);
    }
    90%, 100% {
        transform: rotateX(720deg);
    }
}


.panel::before {
    content: 'Hello World';
    font-size: 96px;
    width: max-content;
    position: absolute;
    left: var(--left);
    color: hsl(var(--hue), 75%, 75%);
}



@for $i from 0 to 24 {
    .panel:nth-child(#{$i + 1}) {
        --left: #{$width * $i * -1};
        --hue: #{360 / 24 * $i};
        --delay: #{$i * .1s};
    }
}